@charset "utf-8";

body{
    background-color: rgb(160, 169, 128);
}

div{
    align-items: justify;
}

h1, h2{
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;

}

p{
    text-align: center;
}


footer{
    background-color: gray;
    text-align: center;
}

