@charset "utf-8";

h2 {
    background-color: #ecf5fb;
}

li {
    padding-right: 10px;
}

.p {
    text-align: justify;
}

.bg {
    background-color: #1E4966;
}

/*
@media screen and (max-width: 525px) {
    .adress {
        margin-left: 1000px;
    }
}
*/